@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, Brothers!</h1>
    <p>This is my final project for my coding class. I have made an application that will let us give a rating to all the songs from our playlists. 
    <br>It will give the playlists a rating based off of the average rating from the songs in that playlist.
    <br>Big Thanks to my classmate Charles for his help, and my professor Michael for his helpful wizardry.
    </p>
    
</div>
